*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}   

body{
    background-image: url(img/Fondo.png);
    background-size:cover;
    background-attachment: fixed;
    height: 80%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    z-index: 10;
}

nav{
    width: 100%;
    margin:auto;
    background-color: #333;
    font-size: 20px;

}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: auto;
    flex-wrap: wrap;
}

.menu-horizontal li a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-horizontal li:hover{
    background-color: #9b4848;
    transition: 1s;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    background-color: #333;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    width: auto;
    background-color: #9b4848;
}

.menu-vertical li a{
    display: block;
    color: white;
    text-decoration: none;
}

.menu-horizontal > div {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.menu-horizontal > div > a{
    text-decoration: none;
    font-size: 50px;
    cursor: pointer;
    color:#c9c8c8;
    letter-spacing: -2px;

}

.menu-horizontal > div > a > span{
    font-family: 'Monoton', cursive;
    font-size: 30px;
    transition: 0.2s;
    cursor: pointer;
    color: white;
}

.menu-horizontal > div > a > span:hover{
    color: #9b4848;
}

.birra{
    margin-top:170px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.birra > img {
    height: 270px;
    width: 250px;
}

.Res{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Res > a {
    display: flex;
    width: 50px;
    font-family:'Barlow Condensed';
    font-size: 30px;
    background-color: #9b4848;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700px;
    width: 220px;
    height: 60px;
    color: #ffffff;
    padding: 10px 16px;
    margin-bottom: 60px;
    transition: 0.2s;

}

.Res > a:hover {
    background-color: #333;
    color: #9b4848;
}



.espacio2{
    height: 500px;
}

.espacio-nav-slider{
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}


.slider{
    width: 1300px;
    max-width: 100vw;
    height: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #9b4848;
    color: #ffffff;
    transition: 0.1s;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #9b4848;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}

@media screen and (max-width: 568px){
    .slider{
        height: 250px;
    }
}

/**Tarjetas Lugares en Index**/


/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: white;
}

.title-cards > h2{
    font-size: 40px;
    font-family: 'Monoton';
    letter-spacing: 3px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 70px;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#333;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
    font-size: 20px;
	color: #9b4848;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #fffefe;
	font-size: 17px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #9b4848;
	border: 1px solid #9b4848;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #9b4848;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}

/** Pie de Pagina **/

footer{
    position: fixed;
    bottom: 0;
    width: 90%;

    
}

@media (max-height: 1000px){
    footer{
        position: static;
    }
}

.Pie-de-pagina{
    background-color: #333;
    box-sizing: border-box;
    widows: 100%;
    text-align: left;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
    margin: auto;
    width: 100%;
    max width: 1200px;   
}

.Pie-de-pagina .pie-izquierdo, .Pie-de-pagina .pie-centro, .Pie-de-pagina .pie-derecho{

    display: inline-block;
    vertical-align: top;
    
}

.Pie-de-pagina .pie-izquierdo{
    width: 30%;
}

.Pie-de-pagina h3 {
    color: white;
}

.Pie-de-pagina .pie-links{
    color: white;
    margin: 20px 0 12px;

}

.Pie-de-pagina .pie-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:#ffffff;
}

.Pie-de-pagina .pie-nombre-compania{
    color: white;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.Pie-de-pagina .pie-centro{
    width: 35%;
}

.Pie-de-pagina .pie-centro i {
    background-color: #333;
    color: white;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.Pie-de-pagina .pie-centro i .fe-envelope{
    font-size: 17px;
    line-height: 38px;
}

.Pie-de-pagina .pie-centro p{
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin: 0;
}

.Pie-de-pagina .pie-centro p a{
    color:#9b4848;
    text-decoration: none;
}

.Pie-de-pagina .pie-derecho{
    width: 30%;
}

.Pie-de-pagina .pie-compania-acerca {
    line-height: 20px;
    color: white;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.Pie-de-pagina .pie-compania-acerca span {
    display: block;
    color:#9b4848;
    font-size:  18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Pie-de-pagina .pie-iconos{
    margin-top: 25px;
}

.Pie-de-pagina .pie-iconos a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #333;
    border-radius: 2px;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.Pie-de-pagina .pie-iconos a:hover{
    background-color: #9b4848;
}

.pie-links a:hover{
    color:#9b4848;
}

@media (max-width: 800px){
    .Pie-de-pagina .pie-links, .Pie-de-pagina .pie-centro, .Pie-de-pagina .pie-derecho, .Pie-de-pagina .pie-izquierdo{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .Pie-de-pagina .pie-centro i {
        margin-left: 0;
    }
}
/** Tarjetas Restaurante **/

.wrap{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .column-2.carta{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin: 15px;
    text-align: center;
    padding: 20px;
  }
  
  .plato-carta{
    display: flex;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px;
    text-align: center;
    padding: 20px;

  }
  
  .img-plato-carta{
    display: flex;
    flex-basis: 25%;
    justify-content: center;
  }
  
  .img-plato-carta img{
    max-width: 90%;
    max-height: 90%;
  }
  
  .title-plato-carta{
    border: 1px solid #e5e5e5;
    border-bottom: none;
    border-top: none;
    flex-basis: 60%;
    padding: 0 1rem;
  }
  
  .precio-plato-carta{
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    font-weight: bold;
  }
  h2 {
    color: aliceblue;
  }
  h4{
    color: aliceblue;
  }
  p{
    color: aliceblue;
  }
  span{
    color: aliceblue;
  }
 
  .drinks{
    text-align: justify;
    padding: 20px;
    margin-left: 50px;
    
  }
  .beers{
    color: #fff;
  }

  #porter{
    height: 11em;
    width: 11em;
  }