*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}   

body{
    background-color: #000;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    z-index: 10;
}

nav{
    width: 100%;
    margin:auto;
    background-color: #333;
    font-size: 20px;

}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal li a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-horizontal li:hover{
    background-color: #9b4848;
    transition: 1s;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    background-color: #333;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    width: auto;
    background-color: #9b4848;
}

.menu-vertical li a{
    display: block;
    color: white;
    text-decoration: none;
}

.menu-horizontal > div {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.menu-horizontal > div > a{
    text-decoration: none;
    font-size: 50px;
    cursor: pointer;
    color:#c9c8c8;
    letter-spacing: -2px;

}

.menu-horizontal > div > a > span{
    font-family: 'Monoton', cursive;
    font-size: 30px;
    transition: 0.2s;
    cursor: pointer;
    color: white;
}

.menu-horizontal > div > a > span:hover{
    color: #9b4848;
}



.banner{
    margin-top: 100px;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://th.bing.com/th/id/R.638984aa3e58fe28176bf5b29b370713?rik=EQF%2fbCHOsdnwFw&pid=ImgRaw&r=0") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    padding-bottom: 20px;
}
.card-container{
    display: grid;
    grid-template-columns: 420px 420px;
}
.card-img{
    background: url("https://www.turismoenmontevideo.com/wp-content/uploads/cervecerias-artesanales-de-Montevideo-750x448.jpg") center/cover no-repeat;
}

/** Carta de Reserva **/


.banner h2{
    font-size: 70px;
    color: #fff;
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.card-content{
    background: #fff;
    height: 330px;
}
.card-content h3{
    text-align: center;
    color: #000;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}
.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
form select, form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}
form input[type = text], form input[type = number], form input::placeholder, select{
    color: #9a9a9a;
}
form input[type = submit]{
    color: #fff;
    background: #9b4848;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}
form input[type = submit]:hover{
    opacity: 0.9;
}
@media(max-width: 992px){
    .card-container{
        grid-template-columns: 100%;
        width: 100vw;
    }
    .card-img{
        height: 330px;
    }
}

/** Pie de Pagina **/

footer{
    position: fixed;
    bottom: 0;
    
}

@media (max-height: 800px){
    footer{
        position: static;
    }
}

.Pie-de-pagina{
    background-color: #333;
    box-sizing: border-box;
    widows: 100%;
    text-align: left;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.Pie-de-pagina .pie-izquierdo, .Pie-de-pagina .pie-centro, .Pie-de-pagina .pie-derecho{

    display: inline-block;
    vertical-align: top;
}

.Pie-de-pagina .pie-izquierdo{
    width: 30%;
}

.Pie-de-pagina h3 {
    color: white;
}

.Pie-de-pagina .pie-links{
    color: white;
    margin: 20px 0 12px;

}

.Pie-de-pagina .pie-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:#ffffff;
}

.Pie-de-pagina .pie-nombre-compania{
    color: white;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.Pie-de-pagina .pie-centro{
    width: 35%;
}

.Pie-de-pagina .pie-centro i {
    background-color: #333;
    color: white;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.Pie-de-pagina .pie-centro i .fe-envelope{
    font-size: 17px;
    line-height: 38px;
}

.Pie-de-pagina .pie-centro p{
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin: 0;
}

.Pie-de-pagina .pie-centro p a{
    color:#9b4848;
    text-decoration: none;
}

.Pie-de-pagina .pie-derecho{
    width: 30%;
}

.Pie-de-pagina .pie-compania-acerca {
    line-height: 20px;
    color: white;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.Pie-de-pagina .pie-compania-acerca span {
    display: block;
    color:#9b4848;
    font-size:  18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Pie-de-pagina .pie-iconos{
    margin-top: 25px;
}

.Pie-de-pagina .pie-iconos a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #333;
    border-radius: 2px;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.Pie-de-pagina .pie-iconos a:hover{
    background-color: #9b4848;
}

.pie-links a:hover{
    color:#9b4848;
}

@media (max-width: 800px){
    .Pie-de-pagina .pie-links, .Pie-de-pagina .pie-centro, .Pie-de-pagina .pie-derecho, .Pie-de-pagina .pie-izquierdo{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .Pie-de-pagina .pie-centro i {
        margin-left: 0;
    }
}
