*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    box-sizing: border-box;
}

body{
    background: #fefefe;
}

header{
    width: 100%;
    height: 80px;
    background: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.logo a{
    font-size: 40px;
    font-weight: bold;
    color:#fefefe;
    text-decoration: none;
}

.hamburguer{
    display: none;
}

.Menu-Hamburguesa ul{
display:flex;

}

.Menu-Hamburguesa ul li a{
    display: block;
    color:#fefefe;
    font-size:17px;
    font-weight: bold;
    margin-top: 15px;
    padding: 15px 20px;
    border-radius: 50px;
    transition:0.2s;
    text-decoration: none;

}

.Menu-Hamburguesa ul li a:hover {

    color: #fcfcfc;
    background: #940303;   

}
.carrousel{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eeeded;

}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;

}

.slides{
    width: 500px;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;

}

.slide{
    width: 20%;
    transition: 2s;

}

img{
    width: 1000px;
    height: 700px;
}

.Navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn1{
border: 2px solid #940303;
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 1s;

}

.manual-btn1:not(last-child){
    margin-right: 40px;
}
.manual-btn1:hover{
    background: #940303;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.Navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;

}

.Navigation-auto div {
    border: 2px solid #940303;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.Navigation-auto div.manual-btn1:not(last-child){
    margin-right: 40px;
}

#radio1:checked ~ .Navigation-auto .auto-button1{
    background: #940303;
}

#radio2:checked ~ .Navigation-auto .auto-button2{
    background: #940303;
}

#radio3:checked ~ .Navigation-auto .auto-button3{
    background: #940303;
}

#radio4:checked ~ .Navigation-auto .auto-button4{
    background: #940303;
}